@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body{
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
:root{
    --primary: #3F8A9B;
    --secundary: #59A6BE;
    --escritaexplorar: #714ec3;
    --black: #000;
    --white: #FFF;
}
/* Cabeçalho */
header{
    background-color: var(--escritaexplorar);
    display: flex;
    height: 5rem;
}
header picture{
    margin-left: 0.5rem;
    padding: 0.5rem;
}
header picture img{
    height: 140%;
}
/* Navegação */
main{
    margin-bottom: 3rem;
}
main div{
    text-align: center;
}
main nav h2{
    margin-top: 0.8rem;
}
main nav h2 a{
    text-align: center;
    text-decoration: none;
    color: var(--escritaexplorar);
}
/* Principal */
main.inicial section{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
main{
    height: calc(100vh - 9rem);
}
main.inicial{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Rodapé */
footer{
    background-color: var(--primary);
    height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer img{
    height: 100%;
    padding: 0.4rem;
}
/* Explorar */
/* Cabeçalho */
header{
    background-color: var(--primary);
    display: flex;
    height: 5rem;
}
header picture{
    margin-left: 0.5rem;
    padding: 0.5rem;
}
header picture img{
    height: 140%;
}
/* Principal */
main.explorar nav section{
    background-color: var(--secundary);
    height: 25rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
main.explorar nav section.home aside{
    margin: 1.5rem 0 0 5rem;
}
main.explorar nav section.myday aside{
    margin: 1.5rem 0 0 5rem;
}
main.explorar nav section.myday aside img{
    margin: 1rem;
}

main.explorar nav{
    width: 100%;
}
main.explorar nav section{
    display: flex;
    flex-direction: row;
}
main.explorar nav input[id="home"]:checked ~  section.home{
    display: block;
}
main.explorar nav input[id="home"]:checked ~  section.myday{
    display: none;
}
main.explorar nav input[id="myday"]:checked ~  section.myday{
    display: block;
}
main.explorar nav input[id="myday"]:checked ~  section.home{
    display: none;
}
main.explorar nav label{
    cursor: pointer;
}
main.explorar nav input{
    display: none;
}
main.explorar nav{
    display: grid;
    justify-content: center;
    padding-top: 10%;
}
/* Rodapé */
footer{
    background-color: var(--primary);
    height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer img{
    height: 100%;
    padding: 0.4rem;
}