@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body{
    background-image: url("../img/fundo.jpg");
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
:root{
    --primary: #3F8A9B;
    --secundary: #59A6BE;
    --escritaexplorar: #714ec3;
    --black: #000;
    --white: #FFF;
}
/* Cabeçalho */
header{
    background-color: #3F8A9B;
    display: flex;
    height: 5rem;
}
header picture{
    margin-left: 0.5rem;
    padding: 0.5rem;
}
header picture img{
    height: 140%;
}
/* Navegação */
main div{
    text-align: center;
}
main nav ul a{
    text-align: center;
    text-decoration: none;
    color: #714ec3;
}
/* Principal */
main section{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 9rem);
}
/* Rodapé */
footer{
    background-color: #3F8A9B;
    height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer img{
    height: 100%;
    padding: 0.4rem;
}
