@media (max-width: 1440px){
    main>section.home{
        grid-template-columns: auto auto;
    }
    main>section.myday{
        grid-template-columns: auto auto auto;
    }
}
@media (max-width: 1010px){
    main>section.home{
        grid-template-columns: auto auto;
    }
    main>section.myday{
        grid-template-columns: auto auto;
    }
}
@media (max-width: 768px){
    main>section.home{
        grid-template-columns: auto auto;
    }
    main>section.myday{
        grid-template-columns: auto auto;
    }
}
@media (max-width: 500px){
    main>section.home{
        grid-template-columns: auto;
    }
    main>section.myday{
        grid-template-columns: auto;
    }
}